@charset 'utf-8';

/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */

/* Latest tested: Android 6, Chrome 48, Edge 13, Firefox 44, Internet Explorer 11, iOS 9, Opera 35, Safari 9, Windows Phone 8.1 */

/*
 * Normalization
 */

abbr[title] {
	text-decoration: underline; /* Chrome 48+, Edge 12+, Internet Explorer 11-, Safari 9+ */
	text-decoration: underline dotted; /* Firefox 40+ */
}

audio:not([controls]) {
	display: none; /* Chrome 44-, iOS 8+, Safari 9+ */
}

b,
strong {
	font-weight: bolder; /* Edge 12+, Safari 6.2+, and Chrome 18+ */
}

button {
	-webkit-appearance: button; /* iOS 8+ */
	overflow: visible; /* Internet Explorer 11- */
}

button,
input {
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;/* Firefox 4+ */
	padding: 0;/* Firefox 4+ */
}

button:-moz-focusring, input:-moz-focusring {
	outline: 1px dotted ButtonText;/* Firefox 4+ */
}

button,
select {
	text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

details {
	display: block; /* Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

html {
	-ms-overflow-style: -ms-autohiding-scrollbar; /* Edge 12+, Internet Explorer 11- */
	overflow-y: scroll; /* All browsers without overlaying scrollbars */
	-webkit-text-size-adjust: 100%; /* iOS 8+, Windows Phone 8.1+ */
}

hr {
	overflow: visible; /* Internet Explorer 11-, Edge 12+ */
}

input {
	-webkit-border-radius: 0 /* iOS 8+ */
}

input[type="button"],
	input[type="reset"],
	input[type="submit"] {
	-webkit-appearance: button;/* iOS 8+ */
}

input[type="number"] {
	width: auto;/* Firefox 36+ */
}

input[type="search"] {
	-webkit-appearance: textfield;/* Chrome 45+, Safari 9+ */
}

input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;/* Chrome 45+, Safari 9+ */
}

main {
	display: block; /* Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+ */
}

pre {
	overflow: auto; /* Internet Explorer 11- */
}

progress {
	display: inline-block; /* Internet Explorer 11-, Windows Phone 8.1+ */
}

summary {
	display: block; /* Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

svg:not(:root) {
	overflow: hidden; /* Internet Explorer 11- */
}

template {
	display: none; /* Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+ */
}

textarea {
	overflow: auto; /* Edge 12+, Internet Explorer 11- */
}

[hidden] {
	display: none; /* Internet Explorer 10- */
}

/*
 * Universal inheritance
 */

*,
:before,
:after {
	box-sizing: inherit;
}

* {
	font-size: inherit;
	line-height: inherit;
}

:before,
:after {
	text-decoration: inherit;
	vertical-align: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}



/*
 * Opinionated defaults
 */

/* specify the margin and padding of all elements */

* {
	margin: 0;
	padding: 0;
}

/* specify the border style and width of all elements */

*,
:before,
:after {
	border-style: solid;
	border-width: 0;
}

/* remove the tapping delay from clickable elements */

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
}

/* specify the standard appearance of selects */

select {
	-moz-appearance: none;    /* Firefox 40+ */
	-webkit-appearance: none /* Chrome 45+ */
}

select::-ms-expand {
	display: none;/* Edge 12+, Internet Explorer 11- */
}

select::-ms-value {
	color: currentColor;/* Edge 12+, Internet Explorer 11- */
}

/* use current current as the default fill of svg elements */

svg {
	fill: currentColor;
}

/* specify the progress cursor of updating elements */

[aria-busy="true"] {
	cursor: progress;
}

/* specify the pointer cursor of trigger elements */

[aria-controls] {
	cursor: pointer;
}

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
	cursor: default;
}

/* specify the style of visually hidden yet accessible elements */

[hidden][aria-hidden="false"] {
	clip: rect(0 0 0 0);
	display: inherit;
	position: absolute
}

[hidden][aria-hidden="false"]:focus {
	clip: auto;
}



/*
 * Configurable defaults
 */

/* specify the background repeat of all elements */

* {
	background-repeat: no-repeat;
}

/* specify the root styles of the document */

:root {
	background-color: #ffffff;
	box-sizing: border-box;
	color: #000000;
	cursor: default;
	font: 100%/1.5 sans-serif;
}

/* specify the text decoration of anchors */

a {
	text-decoration: none;
}

/* specify the alignment of media elements */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* specify the coloring of form elements */

button,
input,
select,
textarea {
	background-color: transparent;
	color: inherit;
}

/* specify the minimum height of form elements */

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	min-height: 1.5em;
}

/* specify the font family of code elements */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
}

/* specify the list style of nav lists */

nav ol,
nav ul {
	list-style: none;
}

/* specify the font size of small elements */

small {
	font-size: 75%;
}

/* specify the border styling of tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* specify the resizability of textareas */

textarea {
	resize: vertical;
}

/* specify the background color, font color, and drop shadow of text selections */

::-moz-selection {
	background-color: #b3d4fc; /* required when declaring ::selection */
	color: #ffffff;
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* required when declaring ::selection */
	color: #ffffff;
	text-shadow: none;
}
:root {
  /* Basic stylings */

  /* Breakpoints */

  /* Colors */ /* --primary 10% darken */

  /* Text */

  /* Links */ /* --link-color 15% darken */

  /* Font */

  /* Typography */

  /* Other */
}
main,
header,
footer,
article,
section,
aside,
details,
summary {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 16px 16px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, .12);
  clear: both;
  display: inline-block;
  float: left;
  max-width: 100%;
  padding: 16px 0;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, .12);
  display: block;
  margin-bottom: 16px;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media screen and (max-width: 400px) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }

  img {
    margin-right: 16px;
  }
}
body {
  color: rgba(0, 0, 0, .8);
  font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
}

p {
  margin: 0;
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 500;
  margin: 20px 0 16px;
}

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 500;
  margin: 20px 0 16px;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 16px 0 4px;
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 16px 0 4px;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  margin: 16px 0 4px;
}

h6 {
  color: rgba(0, 0, 0, .54);
  font-size: 13px;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 16px 0 4px;
}

small {
  color: rgba(0, 0, 0, .54);
  vertical-align: bottom;
}

pre {
  background: #efefef;
  color: rgba(0, 0, 0, .8);
  display: block;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 16px;
  font-size: 1rem;
  margin: 16px 0;
  padding: 16px;
  white-space: pre-wrap;
}

code {
  color: rgba(0, 0, 0, .8);
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 16px;
  font-size: 1rem;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: #2196f3;
}

a:hover, a:focus{
  color: #2196f3;
  text-decoration: underline;
}

dl {
  margin-bottom: 16px;
}

dd {
  margin-left: 40px;
}

ul,
ol {
  margin-bottom: 8px;
  padding-left: 40px;
  vertical-align: baseline;
}

blockquote {
  border-left: 2px solid #2196f3;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  margin: 16px 0;
  padding-left: 16px;
}

figcaption {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

sup {
  font-size: 13px;
  font-size: 0.85rem;
  vertical-align: super;
}

sub {
  font-size: 13px;
  font-size: 0.85rem;
  vertical-align: sub;
}

mark {
  background: #ffeb3b;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  color: rgba(0, 0, 0, .8);
  display: inline-block;
  padding: 4px;
  vertical-align: middle;
}

input[type="color"], {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}


input:not([type]) {
  -webkit-appearance: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  text-align: left;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  border-color: #2196f3;
}

input:not([type]):focus {
  border-color: #2196f3;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px thin rgba(0, 0, 0, .12);
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  background-color: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .54);
  cursor: not-allowed;
}

input:not([type])[disabled] {
  background-color: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .54);
  cursor: not-allowed;
}

input[readonly],
select[readonly],
textarea[readonly] {
  border-color: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .54);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: darken(#f44336, 10);
  color: #f44336;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #f44336;
}

select {
  -webkit-appearance: menulist-button;
  border: 1px solid rgba(0, 0, 0, .12);
  vertical-align: sub;
}

select[multiple] {
  height: auto;
}

label {
  line-height: 2;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 8px 0;
}

legend {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .8);
  display: block;
  margin-bottom: 8px;
  padding: 8px 0;
  width: 100%;
}

textarea {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  display: block;
  margin-bottom: 8px;
  max-width: 100%;
  padding: 8px;
  vertical-align: middle;
}
input[type=submit],
input[type=reset],
button {
  background: #2196f3;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background: #0c7cd5;
  border-color: 1px solid rgba(0, 0, 0, .54);
}

input[type=submit]:active,
input[type=reset]:active,
button:active {
  background: #0c7cd5;
  border-color: 1px solid rgba(0, 0, 0, .54);
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .2);
  outline-offset: -2px;
}

input[type=submit]:focus,
input[type=reset]:focus,
button:focus {
  background: #0c7cd5;
  border-color: 1px solid rgba(0, 0, 0, .54);
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .2);
  outline: 0;
}

input[type=submit]:disabled,
button:disabled {
  background: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .38);
  cursor: not-allowed;
}
table {
  border-top: 1px solid rgba(0, 0, 0, .12);
  margin-bottom: 16px;
}

caption {
  padding: 8px 0;
}

thead th {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, .12);
  text-align: left;
}

tr {
  margin-bottom: 8px;
}

th,
td {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 16px;
  vertical-align: inherit;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  color: rgba(0, 0, 0, .54);
  font-size: 8px;
  font-style: italic;
  padding: 16px 4px;
}
